#portfolio {
  background-color: $primary-color;
  color: #fff;
  padding: 25px;

  h1 {
    text-align: center;
    font-family: $header-font;
    font-size: 2em;
  }

  .container {
    grid-area: port-card;
    .row {
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "port-card";
      justify-content: center;
      align-content: center;

      .portfolio-card {
        position: relative;
        margin-bottom: 50px;
        cursor: pointer;
        .portfolio-title {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.45);
          width: 100%;
          padding-top: 15px !important;
          padding-bottom: 15px !important;
          font-size: 20px;
          text-align: center;
        }
      }

      // .col1 {
      //   grid-column: 1 / span 3;
      // }

      // .col2 {
      //   grid-column: 1 / span 3;
      // }

      // .col3 {
      //   grid-column: 1 / span 3;
      // }

      .portfolio-card:hover .card-overlay {
        opacity: 1;
        cursor: pointer;

      }

      .card-show {
        opacity: 1 !important;
      }

      .portfolio-image {
        display: block;
        width: 100%;
        height: auto;
      }

      .card-overlay {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: $primary-color;
        background-color: rgb(22, 22, 22);
      }

      .overlay-info {
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .info-container {
          position: relative;
          height: 100%;
          padding: 10px;
          .tools {
            color: $primary-color;
            padding: 0.1em;

            p {
              font-weight: bold;
              font-size: 1em;
              padding: 0.2em;
              margin: 0;
            }
          }
          .description {
            padding: 5px;
            ul {
              padding-inline-start: 1.5em;
              li {
                font-size: 0.75em;
              }
            }
            p {
              font-size: 0.8em;
            }
          }
          .link a {
            position: absolute;
            bottom: 5px;
            color: $primary-color;
            font-size: 0.75em;
            font-weight: bold;
          }
          .link2 a {
            position: absolute;
            bottom: 26px;
            color: $primary-color;
            font-size: 0.75em;
            font-weight: bold;
          }
        }
      }

      // .portfolio .container {
      //   margin-top: 25px;
      // }
    }
  }
}

.box .portfolio-card {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

// .box span {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: block;
// }

// .box span:before {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 2px;
//   background: white;
// }

@media (min-width: 375px) {
  #portfolio {
    .container {
      .row {
        .portfolio-card {
          .portfolio-title {
            font-size: 1.5em;
          }
        }
        .overlay-info {
          .info-container {
            .tools {
              padding: 0.2em;
              p {
                font-size: 1.2em;
                padding: 0.2em;
                margin: 0;
              }
            }
            .description {
              ul {
                li {
                  font-size: 0.9em;
                }
              }
              p {
                font-size: 0.9em;
              }
            }
            .link a {
              font-size: 0.9em;
            }
            .link2 a {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #portfolio {
    background-color: $primary-color;
    color: #fff;
    padding: 2em;

    h1 {
      text-align: center;
      font-family: $header-font;
      font-size: 3em;
    }

    .container {
      .row {
        grid-gap: 3em;
        grid-template-areas: "port-card port-card";
        grid-auto-columns: 1fr;
      // grid-auto-flow: column;
        // .col1 {
        //   grid-column: 1 / span 1;
        // }

        // .col2 {
        //   grid-column: 2 / span 1;
        // }

        // .col3 {
        //   grid-column: 3 / span 1;
        // }
          .portfolio-card {
            margin-bottom: unset;
          }
        .tools {
          p {
            margin: 5px 0;
            font-size: 1em;
          }
        }

        .description {
          padding: 5px;

          li {
            font-size: 0.75em;
          }

          p {
            margin: 5px 0;
            font-size: 0.75em;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  #portfolio {
    .container {
      .row {
        .portfolio-card {
          .portfolio-title {
            font-size: 2em;
          }
        }
        .overlay-info {
          .info-container {
            .tools {
              padding: 0.2em;
              p {
                font-size: 2em;
                padding: 0.2em;
              }
            }
            .description {
              ul {
                li {
                  font-size: 1.25em;
                }
              }
              p {
                font-size: 1.25em;
              }
            }
            .link a {
              font-size: 1.25em;
            }
            .link2 a {
              font-size: 1.25em;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #portfolio {
    .container {
      .row {
        grid-template-areas: "port-card port-card port-card";
        // .portfolio-card {
        //   .portfolio-title {
        //     font-size: 2em;
        //   }
        // }
        .overlay-info {
          .info-container {
            .tools {
              p {
                font-size: 1.4em;
              }
            }
            .description {
              ul {
                li {
                  font-size: .9em;
                }
              }
              p {
                font-size: .9em;
              }
            }
            .link a {
              font-size: .9em;
            }
            .link2 a {
              font-size: .9em;
            }
          }
        }
      }
    }
  }
}
