body {
  margin: 0;
}

nav {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}

.name h1 {
  margin-top: 5px;
}

.name .title {
  padding: 5px;
}

.navbar {
}


.topnav {
  overflow: hidden;
  background-color: #333;
  float: right;
  z-index: 2;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}





.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
