body {
  margin: 0;
  width: 100%
}

.overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.var-highlight {
  color: #C0AD60;
}

.string-highlight {
  color: rgba(253, 149, 90, 0.8);
}

#typewriter {
  font-size: 1em;
  margin: 0;
  font-family: "Courier New";
}
#typewriter:after {
  content: "|";
  -webkit-animation: blink 700ms linear infinite alternate;
          animation: blink 700ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fillWidth {
  margin-left: -700px;
}

.fillHeight{
    overflow:hidden;
    display:block;
    height: 100vh;
}




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #typewriter {
    font-size: 2em;
  }
  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fillWidth {
    margin-left: 0px;
    margin-top: -150px;
    margin-bottom: 0px;
  }
  .fillHeight {
    width: 100%;
    height: auto;
  }
  .first {
    z-index: 15;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/*
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
*/
