body {
  margin: 0;
  width: 100%
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: 'Gafata', sans-serif;
  font-weight: bold;
}

/* Temp CSS */
.test {
  background-color: yellow!important;
  color: red!important;
}

.test2 {
  background-color: green!important;
  color: blue!important;
}

#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:50px;height:1000px;color: #fff; background-color: #00bcd4;}



/* Navigation CSS */
nav a {
  font-family: 'Gafata', sans-serif;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3.5px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #1E88E5;
}

li.active>a:hover {
  border-bottom: 0px!important;
}

.navbar a{
  color: #fff!important;
}

.navbar-nav {
  float: right;
}

.navbar-brand {
  font-size: 2.5em;
}

.navbar-nav>li.active>a, .navbar-nav>li.active>a:focus, .navbar-nav>li.active>a:hover{
  border-color: #1E88E5!important;
  background-color: #222!important;
  padding-bottom:15.5px;
  border-bottom: solid 3px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
  background-color: #000;
  border-color: #fff;
}

.anchor {
    display: block;
    position: relative;
    top: -115px;
    visibility: hidden;
}

/* Video Cover CSS */
.overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.var-highlight {
  color: #C0AD60;
}

.string-highlight {
  color: rgba(253, 149, 90, 0.8);
}

#typewriter {
  font-size: 1em;
  margin: 0;
  font-family: "Courier New";
}
#typewriter:after {
  content: "|";
  -webkit-animation: blink 700ms linear infinite alternate;
          animation: blink 700ms linear infinite alternate;
}


@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fillWidth {
  margin-left: -700px;
}

.fillHeight{
  overflow:hidden;
  display:block;
  height: 100vh;
}

.video-container {
  background-color: #1E88E5;
}

/* About me CSS */
.about-me {
  margin-top: -15px;
  display: block;
  align-content: center;
  background-color: #1E88E5;
  color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 25px;
}

.about-row {
  padding-bottom: 50px;
}

.profile {
  margin: auto;
}

.about-me h1 {
  margin-top: 5px;
  padding-top: 25px;
}

/* Skills CSS including cards */
.skills {
  /*color: #fff; background-color: #ff9800;*/
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  background-color: #fff;
}

.panel-body {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}

.card-title h4 {
  margin: 0px;
  padding-left: 15px;
}

.card-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-title:hover a {
  color: #fff!important;
  text-decoration: none;
}

.card-title:hover {
  background-color: #1E88E5;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.75);
}

.active-card {
  background-color: #1E88E5;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.75);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card-pic img {
  padding: 10px;
  margin: auto;
}

.skills-cards {
  margin-bottom: 50px;
  width: 100%;
}

.carousel-inner {
  margin-top: 25px;
  padding-bottom: 25px;
  height: 275px!important;
}

.card-header {
  border-color: #1E88E5!important;
  border-bottom: solid 3px;
}

/*resume Section*/
.resume-background {
  /*background-image: image("..media/kcskyline.jpg");
  position: absolute;
  width: auto;
  overflow: hidden;*/
}

.resume {
  background-color: #ff9800;
}

.resume-content {
  position: relative;
}

.resume-content h1 {
  color: #fff;
}

.resume-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  background-color: #fff;
  margin-top: 25px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.resume-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #1E88E5;
  color: #fff;
}

.resume-header h1 {
  padding: 5px;
}

.resume-section {
  padding: 10px;
}

.resume-timeline {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  overflow: hidden;
  margin-bottom: 15px;
}

.resume-timeline:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.75);
  transform: scale(1.02)
}

.timeline-header {
  padding: 5px;
}

.timeline-content {
  padding: 5px;
}

.timeline-footer {
  background-color:	#D3D3D3;
  width: 100%;
  overflow: hidden;
}

.timeline-footer h4 {
  margin: 0px;
  padding: 3px;
}

.timeline-footer-name {
  padding: 5px;
  float: left;
}

.timeline-footer-date {
  padding: 5px;
  float: right;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #typewriter {
    font-size: 2em;
  }
  .about-me {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fillWidth {
    margin-left: 0px;
    margin-top: -150px;
    margin-bottom: 0px;
  }
  .fillHeight {
    width: 100%;
    height: auto;
  }
  .first {
    z-index: 15;
  }
  .anchor {
      top: -115px;
  }
  .card-center {
    margin-left: 10px;
    margin-right: 10px;
  }

  .card-left {
    margin-left: -10px;
  }

  .card-right {
    margin-right: -10px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*.profile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 25px;
    padding-right: 25px;
  }*/
}


/*  transform: scale(1.02) */
