body {
  margin: 0;
  width: 100%
}

/* Temp CSS */
.test {
  background-color: yellow!important;
  color: red!important;
}

.test2 {
  background-color: green!important;
  color: blue!important;
}

#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:50px;height:1000px;color: #fff; background-color: #00bcd4;}



/* Navigation CSS */
.navbar a{
  color: #fff!important;
}

.navbar-nav {
  float: right;
}

.navbar-brand {
  font-size: 2.5em;
}

.navbar-nav :hover {
  background-color: #1E88E5!important;
  transform: scale(1.02)
}

.navbar-nav>li.active>a, .navbar-nav>li.active>a:focus, .navbar-nav>li.active>a:hover{
  border-color: #1E88E5!important;
  background-color: #222!important;
  border-bottom: inset 3px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 20px;
  display:none;
  background-color: #000;
  border-color: #fff;
}

/* Video Cover CSS */
.overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.var-highlight {
  color: #C0AD60;
}

.string-highlight {
  color: rgba(253, 149, 90, 0.8);
}

#typewriter {
  font-size: 1em;
  margin: 0;
  font-family: "Courier New";
}
#typewriter:after {
  content: "|";
  -webkit-animation: blink 700ms linear infinite alternate;
          animation: blink 700ms linear infinite alternate;
}


@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fillWidth {
  margin-left: -700px;
}

.fillHeight{
  overflow:hidden;
  display:block;
  height: 100vh;
}

/* About me CSS */
.about-me {
  margin-top: 0px;
  display: block;
  align-content: center;
  background-color: #1E88E5;
  color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 25px;
}

.about {
  vertical-align: middle;
}

.profile {
  margin: auto;
}

#about-anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #typewriter {
    font-size: 2em;
  }
  .about-me {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fillWidth {
    margin-left: 0px;
    margin-top: -150px;
    margin-bottom: 0px;
  }
  .fillHeight {
    width: 100%;
    height: auto;
  }
  .first {
    z-index: 15;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .profile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 25px;
    padding-right: 25px;
  }
}
