body {
  margin: 0;
  width: 100%
}

.overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  background-color: yellow;
  color: red;
.navbar a{
  color: #fff!important;
}

.var-highlight {
  color: #C0AD60;
.navbar-brand {
  font-size: 2.5em;
}

.test2 {
  background-color: green;
  color: blue;
}

.string-highlight {
  color: rgba(253, 149, 90, 0.8);
.navbar-nav {
  float: right;
}

.navbar {
}

/* Video Cover CSS */
#typewriter {
  font-size: 1em;
  margin: 0;
  font-family: "Courier New";
}
#typewriter:after {
  content: "|";
  -webkit-animation: blink 700ms linear infinite alternate;
          animation: blink 700ms linear infinite alternate;
}
#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:50px;height:1000px;color: #fff; background-color: #00bcd4;}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fillWidth {
  margin-left: -700px;
}

.fillHeight{
    overflow:hidden;
    display:block;
    height: 100vh;
}

/* About me CSS */
.about-me {
  margin-top: 50px;
  display: block;
  align-content: center;
}

.profile {
  margin: auto;
}





/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #typewriter {
    font-size: 2em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fillWidth {
    margin-left: 0px;
    margin-top: -150px;
    margin-bottom: 0px;
  }
  .fillHeight {
    width: 100%;
    height: auto;
  }
  .first {
    z-index: 15;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
