body {
  margin: 0;
  width: 100%
}

nav {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}

.test {
  background-color: yellow;
  color: red;
}

.test2 {
  background-color: green;
  color: blue;
}


/* Video Cover CSS */
.fillWidth {
  margin-left: -700px;
}

.fillHeight{
    overflow:hidden;
    display:block;
    height: 100vh;
}

/* About me CSS */
.about-me {
  margin-top: 50px;
  display: block;
  align-content: center;
}

.profile {
  margin: auto;
}





/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fillWidth {
    margin-left: 0px;
    margin-top: -150px;
  }
  .fillHeight {
    width: 100%;
    height: auto;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/*
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
*/
