$primary-color: #1E88E5;
$primary-color-dark: #1e67e5;
@import url('https://fonts.googleapis.com/css?family=Proza+Libre|Roboto&display=swap');
$header-font: 'Proza+Libre', sans-serif;
$standard-font: 'Roboto', sans-serif;

body {
    background: #333;
    font-family: $standard-font;
    margin: 0;
}

